<ion-content class="background">
  <ion-item>
    <ion-img
      src="assets/USUARIOS/15.png"
      style="
        width: 20%;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 20%; /* Mueve la imagen hacia abajo */
        margin-left: 10%;
      "
    >
    </ion-img>
    <ion-label color="dark" style="margin-top: 20%;">
      <h1 style="font-family: 'Codec Pro'; color: #672d91">Jimena Martinez</h1>
      <p>¡Hola, Jimena!</p>
    </ion-label>
  </ion-item>

  <div class="star-box">
      <h1>Tus estrellas</h1>
      <ion-item>
        <ion-label>
          <h1>10</h1>
        </ion-label>
        <ion-img
          src="assets/ICONO VARIOS/12.png"
          style="
            width: 50px;
            height: auto;
            overflow: hidden;
            margin-right: 40%;
          "
        >
        </ion-img>
        <ion-img
          src="assets/ICONO VARIOS/13.png"
          style="
            width: 50px;
            height: auto;
            overflow: hidden;
            margin-right: 10%;
          "
        >
        </ion-img>
        
      </ion-item>
  </div>

  <swiper-container
    initial-slide="0"
    [navegation]="true"
    [pagination]="{type:'bullets',clickable:true}"
    [autoplay]="true"
  >
  <swiper-slide>
    <ion-img src="assets\BANERS\1.png" style="width: auto; margin-right: 5%; margin-left: 5%;"></ion-img>
  </swiper-slide>
  <swiper-slide>
    <ion-img src="assets\BANERS\2.png" style="width: auto; margin-right: 5%; margin-left: 5%;"></ion-img>
  </swiper-slide>
  <swiper-slide>
    <ion-img src="assets\BANERS\3.png" style="width: auto; margin-right: 5%; margin-left: 5%;"></ion-img>
  </swiper-slide>
  <swiper-slide>
    <ion-img src="assets\BANERS\4.png" style="width: auto; margin-right: 5%; margin-left: 5%;"></ion-img>
  </swiper-slide>
  <swiper-slide>
    <ion-img src="assets\BANERS\5.png" style="width: auto; margin-right: 5%; margin-left: 5%;"></ion-img>
  </swiper-slide>
  <swiper-slide>
    <ion-img src="assets\BANERS\6.png" style="width: auto; margin-right: 10%; margin-left: 10%;"></ion-img>
  </swiper-slide>
  </swiper-container>
</ion-content>
